<div class="mybottom">
    <div class="mybottom1">
        <img src="../../static/main/images/gemlogo.png"
            alt="logo"
        />
        <h5>Gospel Extension Ministries</h5>
        <h6>We Love God, and We Love People</h6>
    </div>
    <div class="mybottom2">
        <h5>Sitemap</h5>
        <h6>Aboutus</h6>
        <h6>RICH Savings Group</h6>
        <h6>Give</h6>
        <h6>Our Locations</h6>
    </div>
    <div class="mybottom2">
        
        <h6>Contactus</h6>
        <h6>News&Events</h6>
        <h6>Testimonies</h6> 
    </div>
    <div class="mybottom2">
        <h5>Contactus</h5>
        <h6>P.O.Box 70851, Kampala, Uganda</h6>
        <h6>Plot 2101, Block 221, Nyanama</h6>
        <h6>Phone: +256 751 584 016</h6>
        <h6>Email: hmusana@yahoo.com</h6>
    </div>
</div>