
{% load static %}


<header id="main-header">
    <div class="header">
        <div class="navigation">
            <input type="checkbox" class="toggle-menu">
            <div class="hamburger"></div>
            <ul class="menu">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'main/images/gemlogo.png' %}"
                            alt="logo"
                            style="width:120px;height:90px;margin-right: 30px;"
                        />
                    </a>
                </div> 
                <li>
                    <div class="dropdown">
                        <a href="#">About Us</a>
                        <div class="dropdown-content">
                            <a href="{% url 'main:about-us' %}">Our Identity</a>
                            <!-- <a href="#">HSE CONSULTING</a> -->
                            <a href="#">Our Story</a>
                            <a href="#">Our Locations</a>
                            <a href="#">Our Sacco</a>
                        </div>
                    </div> 
                </li>
                <li><a href="#">Devotional</a></li>
                <li><a href="#">News & Events</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Give</a></li>
            </ul>
        </div>
    </div>
</header>
<script>
    window.addEventListener('scroll', function(){
        var header = document.getElementById('main-header');
        var scrollPosition = window.scrollY;

        //adjust this value according to when you want the effect to trigger
        var  scrollPosition = 100;
        if (scrollPosition > scrollThreshold){
            header.classList.add('dark-background');
        }else {
            header.classList.remove('dark-background');
        }
    })
</script>
