{% extends "main/base.html" %}
{% load static %}

{% block content %}
<section id="top" class="text-center" style="overflow-x:hidden;height: 100%;">
        <!--title section-->
        {% include "main/snippets/topbar.html" %}
        <div class="na">
            
            <div class="nar">
                <h2>Sunday Service</h2>
                <h3>We Love God, And We love People</h3>
                <h5>Every Sunday, 7:30 am - 9:30 am - Morning Service</h5>
                <h5>11:00 am - 1:30 pm - Main Service</h5>
                <div class="mybot">
                    <i class="fa-solid fa-circle-play"></i>
                    <h4>Join Us Live</h4>
                   
                </div>
            </div>
            <div class="nar2">
                <div>
                    <h5>Teachings by </h5>
                    <h4>Pr. Henry Musana</h4>
                </div>
                <i class="fa-solid fa-circle-play"></i>
            </div>
        </div>
        <div class="nana">
            <h3>Todays Devotional</h3>
        </div>
        <div class="devo">
            <h5>Abundant God</h5>
            <p>
                Today’s gem From the word - 
                Don't follow Jesus at a distance get in the game,
                But Peter followed him at a distance, right up to the courtyard of the high priest. He entered and sat down with the guards to see the outcome.“
                ‭‭Matthew‬ ‭26‬:‭58‬ ‭NIV‬‬
                Peter followed Jesus but at a distance. Don't follow Jesus at a distance He wants a close walk with you. Don't watch from a distance be part of the story. Be a Participants not a Spectator He wants you in the game.
                Three things will happen if we are following Jesus from
                a distance 
                You will start hanging out with the wrong crowd (read verse 69) and remember Psalms 1:1-2 and bad company corrupts good morals 1Cor 15:33
                You stop seeing Jesus as Lord but just a man read verse 72
                You will end up cursing instead of blessing read verse 74
                Choose today a closer walk with God. Draw near to Him and He will draw near to you. James 4:8.  
                Make the first move towards Him, then He will close that gap and come closer to you.
            </p>
            <h6>Read More...</h6>
        </div>
        <h5 class="next">WHATS NEXT</h5>
        <div class="events">
            <h3>Upcoming Events</h3>
            <div class="event1">
                <h6>View all</h6>
                <i class="fa-solid fa-arrow-right"></i> 
            </div>
        </div>
        <div class="actual">
            <img src="../../static/main/images/des.jpg" alt="dic" />
            <div class="div-actual">
                <h4>Destiny Is Calling Conference - 2024</h4>
                <h5>LIVE at Gem Sanctuary Nyanama</h5>
                <h6>8:00 am - 6:00pm, 28th Thur - 3rd Mon </h6>
                <button>
                    Register Now
                </button>
            </div>
        </div>
        <div class="sermons">
            <h6>SERMONS</h6>
            <h4>Recommended Listens</h4>
            
                <div class="ser">
                    <div class="ser1">
                        <img src="../../static/main/images/sun.jpg" alt="church" />
                        <h6>Sunday Service Teachings</h6>
                    </div>
                    <div class="ser1">
                        <img src="../../static/main/images/min.jpeg" alt="church" />
                        <h6>Ministers' Class</h6>
                    </div>
                </div>
            
        </div>
        <div class="describe">
            <div class="dimg">
                <img src="../../static/main/images/p.jpg" alt="church" />
                <div class="note">
                    <h5>Bishop Henry & Maureen Musana</h5>
                </div>
            </div>
            
            <div class="ded">
                <h6>WHO WE ARE</h6>
                <h4>We are a Movement of Extending the Gospel</h4>
                <h6>
                    We are passionate about sharing the word of God's grace (Garage) growing in the character and
                     competencies of Jesus (Missional Communities) and going out to transform our communities (Frontiers). 
                     Our dream is to plant 3000 churches by 2042.

                    Imagine 3000 Churches, discipling three million people in 100,000 Missional 
                    Communities and together serving 100,000 Frontiers a month! That sounds like, 
                    “Your Kingdom come, Your will be done on earth as it is in heaven” t
                </h6>
            </div>
        </div>
        <div class="new1">
            <h6>WHAT WE DO</h6>
            <h4>We Extend the Gospel of Jesus Christ To the Hearts of Men and 
                Nations of the Earth
            </h4>
        </div>
        <div class="numbers">
            <div class="noimg">
                <img src="../../static/main/images/ban.jpeg" alt="church" />
            </div>
            <div class="subd">
                <div class="sub">
                    <h4>20+</h4>
                    <h6>Churches</h6>
                </div>
                <div class="sub">
                    <h4>50+</h4>
                    <h6>Missional Communities</h6>
                </div>
                <div class="sub">
                    <h4>10,000+</h4>
                    <h6>Salvations</h6>
                </div>
            </div>
        </div>
        {% include "main/snippets/footer.html" %}
                <!-- <div class="row nowro" style="padding:30px 30px;">
                    <div class="col img-cover">
                        <img src="{% static 'main/images/land2.jpg' %}"
                            class="banner"
                            alt="final" style="
                                height:60vh;
                                width:100%;
                                border-radius: 20px;
                            "
                        />
                    </div>

                    <div class="col" style="padding: 80px 30px;">
                        <h2 style="font-size: 50px;
                            color:blue;font-weight: bold;">
                            Tukoreug
                        </h2>

                        <h3 style="font-weight: bold;">Earn Easily, Earn Quickly</h3>

                        <p style="text-align: center;font-size: 20px;">
                            Looking for a side hustle, Activate Account and earn Millions through Referrals.
                            All at the comfort of your phone.
                        </p>

                        <button style="background-color:#0077b6;width:200px;
                            color:white;
                            border:2px solid #0077b6;border-radius: 10px;height:40px;">
                            <a href="#"
                                style="text-decoration:none;color: white;
                                    font-weight: bold;font-size: 20px;">
                                Get Started
                            </a>
                        </button>
                    </div>
                </div> -->
                <!-- <h4 style="text-align:center;font-size:30px;font-weight: bold;color: blue;">
                    How it Works</h4>
                <div  class="row newrow" style="padding:40px 30px;
                    height:50vh;margin-bottom: 40px;align-content: center;align-items: center;">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="
                        background-color:#f0f0f0;border-radius: 20px;padding:50px 30px;"
                    >
                        <div style="display: flex;flex-direction:row;justify-content:space-around;">
                            <div style="height:60px;width:40%;background-color: #0077b6;
                                color: white;padding: 20px;border-radius: 10px;">
                                <h4 class="textn">Create Profile</h4>
                            </div>
                            <i class="fa fa-thin fa-arrow-right fa-2x"></i>
                            <div style="height:60px;width:40%;
                                background-color: #0077b6;
                                color: white;padding:20px;border-radius: 10px;">
                                <h4 class="textn">Activate Account</A:blank></h4>
                            </div>
                        </div>
                        <div style="display: flex;flex-direction:row;
                            justify-content:space-around;margin-top: 20px;">
                            <i class="fa fa-sharp fa-regular fa-arrow-up fa-2x"></i>
                            <i class="fa fa-regular fa-arrow-down fa-2x"></i>
                        </div>
                        <div style="display: flex;flex-direction:row; -->
                            <!-- justify-content:space-around;margin-top: 20px;">
                            <div style="height:60px;width:40%;background-color: #0077b6;
                                color: white;padding: 20px;border-radius: 10px;">
                                <h4 class="textn">Earn</h4>
                            </div>
                            <i class="fa fa-arrow-left fa-2x fa-thin"></i>
                            <div style="height:60px;width:40%;
                                background-color: #0077b6;
                                color: white;padding:20px;border-radius: 10px;">
                                <h4 class="textn">Create Referrals</h4>
                            </div>
                        </div> -->

                        <!--
                            <div style="display:flex;flex-direction:row;height: 50px;">
                            <i class="fa fa-chevron-right fa-1x" style="margin-top: 3px;"></i>
                            <h6 style="font-size: 20px;">Create Profile</h6>
                        </div>
                        <div style="display:flex;flex-direction:row;height: 50px;">
                            <i class="fa fa-chevron-right fa-1x" style="margin-top: 3px;"></i>
                            <h6 style="font-size: 20px;">Activate Account</h6>
                        </div>
                        <div style="display:flex;flex-direction:row;height: 50px;">
                            <i class="fa fa-chevron-right fa-1x" style="margin-top: 3px;"></i>
                            <h6 style="font-size: 20px;">Create Referrals</h6>
                        </div>
                        <div style="display:flex;flex-direction:row;height: 50px;">
                            <i class="fa fa-chevron-right fa-1x" style="margin-top: 3px;"></i>
                            <h6 style="font-size: 20px;">Earn</h6>
                        </div>
                        -->

                    <!-- </div>
                    <div class="col">
                        <img src="{% static 'main/images/refer.jpeg' %}"
                            alt="final" style="
                                height:50vh;
                                width:100%;
                                border-radius: 20px;
                            "
                        />
                    </div>
                </div> -->
                <!--
                     <h4 style="text-align:center;font-size:30px;font-weight: bold;color: blue;">
                    Contact us
                </h4>
                <div class="row" style="padding:0px 630px;">
                    <span>
                        <i class="fa fa-telegram fa-3x" style="color:blue"></i>
                    </span>
                    <br />
                    <span>
                        <i class="fa fa-whatsapp fa-3x" style="color: green;"></i>
                    </span>

                </div>
                -->



        </div>


</section>
{% endblock %}