{% load static %}

<section>
    <div class="container">
        <div class="row">
            <div>
                <nav class="navbar navbar-expand-lg">
                    <!--Logo-->
                    <div class="logo"></div>
                    <ul class="nav-links">
                        <input type="checkbox" id="checkbox_toggle" />
                        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

                <!-- NAVIGATION MENUS -->
                        <div class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/">About</a></li>
                            <li><a href="/">Referrals</a></li>
                        </div>
                    </ul>
                </nav>
                    
            </div>
        </div>
    </div>
</section>